ul{
    list-style: none;
}

.logo{
    width: 14%;
    }
.logo2{
    width: 10%;
    margin-left: 15%;
}
.logo3{
    width: 13%;
    margin-left: 14%;
}
.techno{
    font-size: 25px;
    padding-left:15px;
    border-bottom: 2px solid #fff;
    border-right: 1px solid #fff;
    color:#fff;
    background-image:linear-gradient(#9dbee9, #0b0f37);
}
.techno2{
    font-size: 20px;
}
a span{
    display: none;
}
a:hover span{
    display:block;

    z-index: 3;
    top: -155px;
    left: -50px;
}
.diplome{

    width: 70%;
}




