ul{
    list-style: none;
}

.logo{
    width: 14%;
    padding: 5px;
}


.techno{
    font-size: 25px;

    border-bottom: 2px solid #fff;
    border-right: 1px solid #fff;
    color:#fff;
    background-image:linear-gradient(#9dbee9, #0b0f37);
    max-width: 100%;
}

a span{
    display: none;
    max-height: 100%;
    transition-property: max-height;
    transition-duration: 2s;


}
.fluid{
    max-width: 100%;
    padding: 5px;
    height: 100%;
    transition-property: max-height;
    transition-duration: 2s;

}
.aa{
    padding-bottom: 38px;
    padding-top: 28px;
    color: white;
}
a:hover span{
    display:block;
    
    max-height: 100%;
    max-width: 100%;

    z-index: 3;
    top: -155px;
    left: -50px;
}
.diplome{

    width: 70%;
}






