ul{
    list-style: none;
    padding-left: 0!important;
}

.logo{
    width: 14%;
    padding: 5px;
}
/*Ma nouvelle carriere*/
#newCar{
    background-image: url("../Sources/img/bg2.png") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blanc{
    background-color: white;
    width: 43%;
}
.intro{
    color: white;
    margin-top: 4%;
    text-shadow: 2px 2px 5px #91C;
}

.techno{
    font-size: 25px;

    color:#fff;
    background-image:linear-gradient(#9dbee9, #0b0f37);

    width: 65%;
}
.fluid{
    padding: 5px;
    max-height: 0;
    transition: 1s max-height, 1.5s opacity 0.3s;
    opacity: 0;
    width: 100%;
}
.aa{
   /* padding-bottom: 38px;
    padding-top: 28px;*/
    color: white;
}
a:hover .fluid{
    max-height: 100%;
    width: 100%;
    opacity: 1;
}

.fluid:hover{
    transform: scale(1.6);
}
.diplome{

    width: 70%;
}
.list-unstyled2{
    padding-left: 15px;
    padding-right: 15px;
}
.item{
    margin-bottom: 5px;
}
.video{
    width: 100%;
    height: 100%;
}
iframe{
    width: 560px;
    height: 315px;
}

/*réalisations*/

#rea{
    background-image: url("../Sources/img/bg1.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#vid{
    border-radius: 0;
}
.card{
    width: 70% !important;
    height: 96% !important;
    border-radius:25px ;
    /* box-shadow: 0px 3px 3px black ;*/
    background-color: #11ffee00;
    border: none;

}
.card:hover {
    transform: translateY(-4px);
    transition: .4s;
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    background-color: aliceblue;
}
.card-img-top{
    border-radius:180px;
}







